.App {
    .logoImg {
        width: 400px;
        height: 80px;
        background-color: gray;
        margin: 20px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        font-size: 50px;
    }
    .ListTitle {
        display: flex;
        background-color: gainsboro;

        padding: 10px;
        width: 780px;
        height: 90px;
        margin: 20px;
        border-bottom: 2px solid black;
        justify-content: space-evenly;

        div {
            font-weight: bold;
            span {
                font-size: 50px;
            }
        }
        .button {
            display: block;
            position: relative;
            float: left;
            width: 120px;
            padding: 0;
            margin: 10px 20px 10px 0;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            color: #202020;
            border-radius: 5px;
            border: none;
            transition: all 0.2s;
        }
        .btnJoin {
            background-color: aliceblue;
        }

        .btnJoin.btnPush {
            box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);
        }

        .btnPush:hover {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
    // 사이드 바
    .sidebar {
        background-color: #e3ecf1;
        border-left: 4px solid #202020;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transition: 0.4s ease;
        color: #202020;
        height: 100%;
        z-index: 99;
    }
    .button {
        position: relative;
        left: -50px;
        top: 10px;
        width: 40px;
        height: 40px;
        z-index: 99;
        transition: 0.8s ease;
        border: 2px solid #202020;
        border-radius: 40px;
        overflow: hidden;
    }
    .openBtn {
        width: 100%;
        height: 100%;
    }
    .content {
        padding: 40px 40px 0 20px;
        position: relative;
        width: 100%;
    }
    .icon {
        margin: 0;
        color: #202020;
    }

    .RoomList {
        margin: 20px;
        .ListRoom {
            ul {
                padding: 10px;
                width: 780px;
                height: 100px;
                margin: 20px;
                li {
                    list-style: none;
                    position: relative;
                    margin: 0 0 16px -20px;
                    padding: 6px 18px;
                    background-color: #c8c8c8;

                    // &:before {
                    //     position: absolute;
                    //     top: -16px;
                    //     left: -30px;
                    //     box-sizing: border-box;
                    //     width: 2em;
                    //     margin-right: 8px;
                    //     color: rgb(201, 201, 201);
                    //     font-size: 30px;
                    //     text-align: center;
                    // }
                }
            }
        }
    }
    .CreateRoom {
        z-index: 1;
        .modal {
            position: absolute;
            // display: none;

            justify-content: center;
            top: 0;
            left: 0;

            justify-content: center;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            .modal-body {
                position: absolute;
                top: 50%;
                left: 30%;
                width: 400px;
                height: 600px;
                padding: 40px;
                text-align: center;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
                transform: translateY(-50%);
                label {
                    margin: 10px;
                }
            }
        }
    }
    .ListRoom {
        ul {
            padding: 10px;
            width: 780px;
            height: 100px;
            margin: 20px;
            li {
                list-style: none;
                position: relative;
                margin: 0 0 16px -20px;
                padding: 6px 18px;
                background-color: #c8c8c8;

                // &:before {
                //     position: absolute;
                //     top: -16px;
                //     left: -30px;
                //     box-sizing: border-box;
                //     width: 2em;
                //     margin-right: 8px;
                //     color: rgb(201, 201, 201);
                //     font-size: 30px;
                //     text-align: center;
                // }
            }
        }
    }
}
